.full-img {
  width: 100vw;
  height: 100vh;
  object-fit: scale-down;
}

/* 
#left {
  position: absolute;
  top: 50%;
  left: 50px;
}
#right {
  position: absolute;
  top: 50%;
  right: 50px;
}

div img {
  width: 100px;
}

div {
  border: 2px solid greenyellow;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 3px;
  transform: translateX(-50%);
  width: 200px;
  overflow: auto;
}
*/
